body {
  background-color: #dadada;
  font-size: 10px;
}

header {
  font-family: sans-serif;
  font-size: 1.75em;
  font-weight: 200;
  letter-spacing: 2px;
  margin: 1em auto;
  text-align: center;
  text-transform: uppercase;
}

.preview {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
  margin: 1em auto;
  width: 100%;
  min-height: 300px;
}

/*** Background Images ***/
.baku{
  background-image: url(/images/baku.jpg);
}

.london{
  background-image: url(/images/london.png);
}

.madrid{
  background-image: url(/images/madrid.jpg);
}

.rome{
  background-image: url(/images/rome.jpg);
}

/*** Div Text Styles ***/
.preview h1 {
  font-family: serif;
  font-size: 2.5em;
  padding-top: 1em;
  padding-left: 1em;
}



/*** Media Settings for Tablet ***/
@media screen and (min-width: 575px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .container {
    text-align: center;
  }

  .preview {
    background-size: cover;
    display: inline-block;
    margin: 1%;
    width: 45%;
  }

  .preview h1 {
    text-align: left;
  }

}

/*** Laptop Layout ***/
@media screen and (min-width: 991px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .container {
    text-align: center;
  }

  .preview {
    background-size: cover;
    display: inline-block;
    margin: 1%;
    min-height: 250px;
    width: 20%;
  }

  .preview h1 {
    text-align: left;
  }
}
